@page
@model TodoApp.Model.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     
@foreach (var item in Model.Tasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <div class= "icons-container">
                    <a asp-page="./Edit" asp-route-id="@item.UserId">
                        <i class="fa fa-pencil" aria-hidden="true">Edit</i>
                    </a> 
                     <a asp-page="./Details" asp-route-id="@item.UserId">
                        <i class="fa fa-info-circle" aria-hidden="true">Details</i>
                    </a> 
                    <a asp-page="./Delete" asp-route-id="@item.UserId">
                        <i class="fa fa-trash" aria-hidden="true">Delete</i>
                    </a>
                    </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
       <p id= "create-task">
         <a asp-page="Create"><i class="fa fa-plus" aria-hidden="true">Create New</i></a>
      </p>
